page-settings {
	.item{
		background: transparent;
		// font-size: 35px;
		color: #fff;
	}
	// .label{
	// 	font-size: 35%;
	// }
	section{
		color: #fff;
		font-size: 20px;
	}
	// #saveBtn{
	// 	border: 1px solid green;
	//     width: 100%;
	//     height: 40px;
	//     background: green;
	//     color: #fff;
	// }
	// #saveBtn :active{
	// 	border: 1px solid darkgreen;
	//     width: 100%;
	//     height: 40px;
	//     background: darkgreen;
	//     color: #fff;
	// }
}
